html {
    font-family: 'Roboto', sans-serif;
}

/*nav bar*/
.navbar-brand {
    display: flex;
    justify-content: center;
}

.brand-text {
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    letter-spacing: 3px;
    text-decoration: overline;
}

.brand-logo {
    border-bottom: 2px solid black;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center
}

.nav-item-login {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    transition: 0.2s;
}

.nav-item-login:hover {
    border: 1px solid rgba(0,0,0,0.9);
}


/* register page */
.register-wrapper {
    max-width: 430px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    padding: 30px;
    padding-bottom: 35px;
}

.register-circle {
    width: 80px;
    height: 80px;
    background-color: #1089ff;
    border-radius: 50%;
}

.register-icon {
    font-size: 30px;
    margin-top: 25px;
    color: #fff;
}

.register-title {
    font-size: 28px;
    color: black;
    font-weight: 300;
    margin-top: 18px;
    letter-spacing: 2px;
}

.register-text {
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline;
}

.register-validation-all ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* login page */
.login-wrapper {
    max-width: 430px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 3px;
    padding: 30px;
    padding-bottom: 35px;
}

.login-circle {
    width: 80px;
    height: 80px;
    background-color: #1089ff;
    border-radius: 50%;
}

.login-icon {
    font-size: 30px;
    margin-top: 25px;
    color: #fff;
}

.login-title {
    font-size: 28px;
    color: black;
    font-weight: 300;
    margin-top: 18px;
    letter-spacing: 2px;
}

.login-text {
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline;
}

.login-validation-all ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Upload image page */
.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle{
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
    border-bottom : 1px solid black;
}

.step {
    list-style-type: square;
}


#clearBtn {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#imageWrapper {
    text-align: center
}

.upload-title{
    margin: 0;
    font-size: 18px;
}

.public-upload{
    transform: scale(1.5);
}

.upload-validate li {
    list-style-type: square;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

/* User manager page */

.username-wrapper{
    display: flex;
    justify-content: left;
}

.manager-form {
    max-width: 350px;
}


/* image manager page */

.imagem-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.imagem-item {
    flex-basis: 200px;
    border: 1px solid rgba(0,0,0,0.8);
    height: 10px;
    margin: 5px;
    height: 300px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.imagem-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top:-3px;
}

.imagem-item::after {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    content: '';
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1;
}

.imagem-item:hover::after {
    opacity: 0.5;
    width: 500px;
    height: 500px;
}

.image-add-new {
    text-align: center;
    color: rgba(149, 157, 165, 0.5);
    font-size: 100px;
    flex-basis: 200px;
    border: 1px solid rgba(0,0,0,0.8);
    height: 10px;
    margin: 5px;
    height: 300px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
    cursor: pointer;
}

.image-add-new:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imagem-action {
    position:absolute;
    bottom: -35%;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: 0.4s;
    text-align: center;
}

.imagem-item:hover .imagem-action{
    bottom: 35%;
}

.btn-action{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.bg-image {
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
}



/* Responsive web */
@media only screen and (max-width: 990px) {
    .nav-item {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 480px) {
    .imagem-item{
        flex-basis: 80%;
    }

    .image-add-new {
        flex-basis: 80%;
    }
}

